<app-topo-admin></app-topo-admin>
<mat-card id="caseArea" class="{{currentCase.status}}">
	<!-- <mat-card id="caseArea" *ngIf="(case$ | async) as lawCase"> -->
	<mat-card-title>
		{{currentCase.process}} - {{currentCase.office}}
		<button routerLink="/admin/list" class="fright" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
			<mat-icon >home</mat-icon>
		</button>
	</mat-card-title>
	<mat-card-subtitle>{{currentCase.clientname}}</mat-card-subtitle>
	<mat-card-content>{{currentCase.body}}</mat-card-content>
	<mat-card-content>Comentários</mat-card-content>
	<mat-card-footer *ngIf="currentCase.status == 'pending'">
		<span class="price">{{currentCase.estimatedVal}}</span>

		<button (click)="aprove()" mat-raised-button color="primary">Aprovar</button>
		<button (click)="inactivate()" mat-raised-button color="warn">Inativar</button>
	</mat-card-footer>
	<mat-card-footer *ngIf="currentCase.status != 'pending'">
		<span class="price">{{currentCase.estimatedVal}}</span>

		<span class="price fright">{{currentCase.status}}</span>
	</mat-card-footer>

</mat-card>
  