#caseArea {
  position: relative;
  clear: both;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  button {
	float: right;
	margin: 5px 10px
  }
  mat-card-footer {
    overflow: hidden;
	background-color: rgba(#673ab7, .3);
    
    .price {
      font-size: 2em;
      padding: 10px;
      font-weight: bold;
      line-height: 1.7em;
		text-transform: uppercase;
    }
  }
  &.aprovado {
	background-color: rgba(green, .3);
	mat-card-footer {
	  background-color: rgba(green, .6);
	  color: #fff;
	}
}
&.inativo {
	background-color: rgba(red, .3);
	mat-card-footer {
	  background-color: rgba(red, .6);
	  color: #fff;
	}
}
}
