table {
	width: 90%;
	max-width: 600px;
	position: relative;
	clear: both;
	margin: 20px auto;
	tr {
		&.aprovado {
			background-color: rgba(green, .3);
		}
		&.inativo {
			background-color: rgba(red, .3);
		}
	}
}