<app-topo-admin></app-topo-admin>
<div class="area_simples">
	<button class="fright" routerLink="/admin/create" mat-fab color="primary" aria-label="Novo Caso">
    <mat-icon >add</mat-icon>
  </button>
</div>
<div *ngIf="(cases$ | async) as lawCases">
  <table mat-table [dataSource]="lawCases" class="mat-elevation-z8">

    <ng-container matColumnDef="process">
      <th mat-header-cell *matHeaderCellDef>Processo</th>
      <td mat-cell *matCellDef="let lawCase">{{ lawCase.process }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let lawCase">{{ lawCase.clientname }}</td>
    </ng-container>

    <ng-container matColumnDef="office">
      <th mat-header-cell *matHeaderCellDef>Escritório</th>
      <td mat-cell *matCellDef="let lawCase">{{ lawCase.office }}</td>
    </ng-container>

    <ng-container matColumnDef="estimatedVal">
		<th mat-header-cell *matHeaderCellDef>Valor</th>
		<td mat-cell *matCellDef="let lawCase">{{ lawCase.estimatedVal }}</td>
	  </ng-container>

	  <ng-container matColumnDef="view">
		<th mat-header-cell *matHeaderCellDef>Ver</th>
		<td mat-cell *matCellDef="let lawCase" (click)="showCase(lawCase.id)">
      <button routerLink="/admin/case/{{lawCase.id}}" mat-icon-button color="primary" aria-label="Ver Caso">
        <mat-icon >visibility</mat-icon>
      </button>
    </td>
	  </ng-container>

	  <ng-container matColumnDef="edit">
		<th mat-header-cell *matHeaderCellDef>Editar</th>
		<td mat-cell *matCellDef="let lawCase" (click)="editCase(lawCase.id)">
      <button routerLink="/admin/edit/{{lawCase.id}}" mat-icon-button color="accent" aria-label="Editar caso">
        <mat-icon >edit</mat-icon>
      </button>
    </td>
	  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let lawCase; columns: displayedColumns" class="{{lawCase.status}}"></tr>
  </table>
</div>
