<mat-card id="loginArea" [formGroup]="formGroup">
  <mat-form-field appearance="legacy">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" formControlName="username" />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
  </mat-form-field>

  <button (click)="login()" mat-raised-button color="primary">Primary</button>
</mat-card>
