#loginArea {
	position: relative;
	clear: both;
	margin: 30px auto;
	width: 100%;
	max-width: 450px;
	mat-form-field {
		position: relative;
		width: 100%;
		clear: both;
	}
	button {
		width: 100%;
	}
}