<app-topo-admin></app-topo-admin>
<mat-card *ngIf="caseForm" id="formArea" [formGroup]="formGroup">
	<mat-card-title>Editar caso
		<button routerLink="/admin/list" class="fright" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
			<mat-icon >home</mat-icon>
		</button>
	</mat-card-title>
  <mat-form-field appearance="legacy">
    <mat-label>Nome do cliente</mat-label>
    <input
      matInput
      placeholder="Nome do Cliente"
      formControlName="clientname"
	  maxlength="100"
    />
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Nome do escritório</mat-label>
    <input matInput placeholder="Nome do Escritório" formControlName="office" maxlength="50"/>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Código do Processo</mat-label>
    <input matInput placeholder="Código do Processo" formControlName="process" maxlength="12" minlength="12" readonly/>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Informações</mat-label>
    <input matInput placeholder="Informações" formControlName="body" />
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Valor</mat-label>
    <input type="number" matInput placeholder="Valor" formControlName="estimatedVal" />
  </mat-form-field>
  <button (click)="save()" mat-raised-button color="primary">Save</button>
</mat-card>
