<mat-toolbar color="primary">
	<span>Bom Trato</span>
	
	<span class = "filler"></span>
	<span>Ola, Administrador</span>
	<span class="example-spacer"></span>
  
	<button
	  mat-icon-button
	  class="left-icon"
	  aria-label="Example icon-button with share icon"
	>
	  <mat-icon>logout</mat-icon>
	</button>
  </mat-toolbar>