/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.filler {
	flex: 1 1 auto;
 }
 .example-spacer {
	 margin-left: 20px;
 }
 #formArea, .area_simples {
	 position: relative;
	 clear: both;
	 margin: 20px auto;
	 width: 98%;
	 max-width: 600px;
	 overflow: hidden;
	 mat-form-field {
		width: 100%;
	}
 }
 .fright {
	 float: right;
 }